<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbcb.myron.bsen.mapper.BsenDaoMapper">
    <!--获取商品评价-->
    <select id="getEvaluate" resultType="com.nbcb.myron.bsen.module.ProductEvaluateExt">
      SELECT i.ORDERID,i.USERID,i.ID,i.TURNOVER,i.PRICE,i.EVALUATE,i.TIME,u.NICKNAME FROM user_info u LEFT JOIN order_info i ON
       i.userid =u.USERID AND i.ID =#{id}
    </select>

    <select id="getImageEntityList" resultType="com.nbcb.myron.bsen.module.ImageEntity">
      SELECT i.imgurl,i.urlparam FROM bsen_imglink i LIMIT 3;
    </select>
    <select id="getImageEntity" resultType="com.nbcb.myron.bsen.module.ImageEntity">
      SELECT i.imgurl,i.urlparam FROM bsen_imglink i where i.bid = #{id};
    </select>
    <select id="getAllProducts" resultType="com.nbcb.myron.bsen.module.Product">
        SELECT * FROM bsen_doorentity i
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="isheat!=null and isheat!=''">
                i.isheat = #{isheat}
            </if>
        </trim>
    </select>
    <!--查询店铺信息-->
    <select id="getStoreInfo" resultType="com.nbcb.myron.bsen.module.StoreInfo">
      SELECT ID,
      NAME,
      AGE,
      STOREMEDAL,
      FANS,
      CASE
      WHEN CAST(GOODSDESC AS DECIMAL(10,2))>0.5 THEN CONCAT(GOODSDESC,'##高')
      WHEN CAST(GOODSDESC AS DECIMAL(10,2))>0.2 THEN CONCAT(GOODSDESC,'##平')
      WHEN CAST(GOODSDESC AS DECIMAL(10,2))>0.1 THEN CONCAT(GOODSDESC,'##低')
      ELSE GOODSDESC END AS GOODSDESC,
      CASE
      WHEN CAST(RESPONSESPEED AS DECIMAL(10,2))>0.5 THEN CONCAT(RESPONSESPEED,'##高')
      WHEN CAST(RESPONSESPEED AS DECIMAL(10,2))>0.2 THEN CONCAT(RESPONSESPEED,'##平')
      WHEN CAST(RESPONSESPEED AS DECIMAL(10,2))>0.1 THEN CONCAT(RESPONSESPEED,'##低')
      ELSE RESPONSESPEED END AS RESPONSESPEED,
      CASE
      WHEN CAST(DELIVERYSPEED AS DECIMAL(10,2))>0.5 THEN CONCAT(DELIVERYSPEED,'##高')
      WHEN CAST(DELIVERYSPEED AS DECIMAL(10,2))>0.2 THEN CONCAT(DELIVERYSPEED,'##平')
      WHEN CAST(DELIVERYSPEED AS DECIMAL(10,2))>0.1 THEN CONCAT(DELIVERYSPEED,'##低')
      ELSE DELIVERYSPEED END AS DELIVERYSPEED,
      CASE
      WHEN CAST(HEADTURN AS DECIMAL(10,2))>0.5 THEN CONCAT(HEADTURN,'##高')
      WHEN CAST(HEADTURN AS DECIMAL(10,2))>0.2 THEN CONCAT(HEADTURN,'##平')
      WHEN CAST(HEADTURN AS DECIMAL(10,2))>0.1 THEN CONCAT(HEADTURN,'##低')
      ELSE HEADTURN END AS HEADTURN,
      STORESDESC
      FROM bsen_info i;

    </select>
<!--查询商品详情-->
    <select id="getDetail" resultType="com.nbcb.myron.bsen.module.ProductPropertyExt">
      SELECT
          i.PID,
          i.ID,
          i.IMGURL,
          i.DELIVERPRICE,
          i.IMGDESC,
          i.DELIVERADDRESS,
          i.TURNOVER,
          i.PRICE1,
          i.PRICE2,
          i.PRICE3,
          i.MINNUMASTRICT,
          i.NUMASTRICT,
          i.MORENUMASTRICT,
          i.STATISFACTION,
          i.ISHEAT,
          i.CONTENTIMGS,
          i.REPERTORY,
          <include refid="ProductProperty"></include>
        FROM bsen_doorentity i
          LEFT JOIN bsen_doorentity_property j
            ON i.ID = j.ID
        WHERE i.id = #{id};
    </select>
    <!--查询商品属性代码片段-->
    <sql id="ProductProperty">
        j.PRCCLASS,j.ARTNO,j.BRAND,j.TEXTURE,j.WOOD,j.METAL,j.SWITCHTYPE,j.WORKMANSHIP,j.SPECIALPURPOSE,j.USABLERANGE,
          j.QUALITYGRADE,j.SAFETYLEVEL,j.COMPRESSIVESTRENGTH,j.WATERTIGHTNESS,j.HARDNESS,j.PENDULUMIMPACT,j.WINDRESISTANCE,
          j.MOEISB,j.TYS,j.STYLE,j.COLOR,j.PLACEOFORGIN,j.WZCJ,j.WTFT,j.POFT,j.DOORMAXSIZE,j.DOORTHICKNESS,j.WCB
    </sql>

</mapper>