<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbcb.myron.bsen.mapper.BsenDaoMapper">

<!--获得http ip-->
    <select id="getHttpAddress" parameterType="java.util.HashMap" resultType="com.nbcb.myron.bsen.module.DictEntity">
        select i.dictname ip from dictionary i where i.dicttypeid = #{dicttypeid} and i.dictid = #{dictid};
    </select>

<!--获取首页商品头部轮播图-->
    <select id="getImageEntityList" resultType="com.nbcb.myron.bsen.module.ImageEntity">
      SELECT i.pid id,i.t_url imgPath,i.t_url_name imgName FROM products i WHERE i.is_true = '0';
    </select>

<!--砍价商品-->
    <select id="getBestCutProducts" resultType="com.nbcb.myron.bsen.module.CutProduct">
      SELECT
          i.pid  id,
          i.desc,
          CONCAT(j.path,j.filename) imgUrl,
          i.price oldPrice,
          i.cutting_num cutPriceNum,
          i.cuted_price newPrice
        FROM products i
        LEFT JOIN products_files j ON i.pid = j.pid
        WHERE i.is_cut = '0' AND j.classify ='2'AND i.cutting_num > 50;
    </select>

<!--精品-->
    <select id="getBoutiqueProducts" resultType="com.nbcb.myron.bsen.module.BoutiqueProduct">
        SELECT
          i.pid id,
          CONCAT(j.path,j.filename) imgUrl,
          i.desc,
          i.price oldPrice,
          i.cuted_price newPrice
        FROM products i
          LEFT JOIN products_files j
            ON i.pid = j.pid
        WHERE j.classify = '0'
            AND i.soldnum > '200'
        GROUP BY i.pid;
    </select>

<!--全部分类商品-->
    <select id="getProductLists" parameterType="java.util.HashMap" resultType="com.nbcb.myron.bsen.module.ProductListEntity">
        SELECT
          i.pid            id,
          i.desc,
          i.price          oldPrice,
          i.cuted_price    newPrice,
          i.soldnum        soldNum,
          i.browsenum      browseNum,
          CONCAT(j.path,j.filename)    imgUrl
        FROM products i
        LEFT JOIN products_files j ON i.pid = j.pid
        WHERE j.classify='2'
        <if test="classifyId !=  '00'">AND i.classify =#{classifyId}</if>
    </select>

<!--获取商品详情-->
    <select id="getDetail" resultMap="SwipeImgs">
      SELECT
          i.pid,
          i.price,
          i.cuted_price,
          i.desc,
          i.soldnum,
          i.browsenum
        FROM products i
        WHERE i.pid = #{id};
    </select>

    <resultMap type="com.nbcb.myron.bsen.module.Product" id="SwipeImgs">
        <id property="id" column="pid"/>
        <result property="oldPrice" column="price"/>
        <result property="newPrice" column="cuted_price"/>
        <result property="desc" column="desc"/>
        <result property="soldNum" column="soldnum"/>
        <result property="browseNum" column="browsenum"/>
        <collection property="imgUrls" ofType="com.nbcb.myron.bsen.module.ProductImg" column="{bridgeId1=pid}" select="getDetailImg1"></collection>
        <collection property="detailImgUrls" ofType="com.nbcb.myron.bsen.module.ProductImg" column="{bridgeId2=pid}" select="getDetailImg2"></collection>
        <collection property="evaluates" ofType="com.nbcb.myron.bsen.module.User" column="{bridgeId3=pid}" select="getEvaluates"></collection>
    </resultMap>
<!--获取商品详情轮播图-->
    <select id="getDetailImg1" resultType="com.nbcb.myron.bsen.module.ProductImg">
      SELECT
          i.path,
          i.filename
        FROM products_files i
        WHERE i.pid = #{bridgeId1}
        AND i.classify = '0';
    </select>
<!--获取商品详情图-->
    <select id="getDetailImg2" resultType="com.nbcb.myron.bsen.module.ProductImg">
      SELECT
          i.path,
          i.filename
        FROM products_files i
        WHERE i.pid = #{bridgeId2}
        AND i.classify = '1';
    </select>
<!--获取商品详情图-->
    <select id="getEvaluates" resultType="com.nbcb.myron.bsen.module.User">
      SELECT
          i.turn_over turnover,
          i.evaluate,
          i.time,
          j.uid,
          j.nickname
        FROM orders i
        LEFT JOIN users j ON i.user_id = j.uid
        WHERE i.i_id = #{bridgeId3}
    </select>

    <!--所有砍价商品-->
    <select id="getCutProductsList" resultType="com.nbcb.myron.bsen.module.CutProduct">
      SELECT
          i.pid            id,
          i.desc,
          CONCAT(j.path,j.filename)    imgUrl,
          i.price          oldPrice,
          i.cuted_price    newPrice,
          i.soldnum    soldNum,
          i.browsenum browseNum
        FROM products i
          LEFT JOIN products_files j
            ON i.pid = j.pid
        WHERE i.is_cut = '0'
            AND j.classify = '2'
    </select>

    <!--搜索商品-->
    <select id="getSearchProducts" parameterType="java.util.HashMap" resultType="com.nbcb.myron.bsen.module.ProductListEntity">
        SELECT
        i.pid            id,
        i.desc,
        i.price          oldPrice,
        i.cuted_price    newPrice,
        i.soldnum        soldNum,
        i.browsenum      browseNum,
        CONCAT(j.path,j.filename)    imgUrl
        FROM products i
        LEFT JOIN products_files j ON i.pid = j.pid
        WHERE j.classify='2'
        <if test="keyWord != null and keyWord !=''">AND i.desc like concat('%',#{keyWord},'%')</if>
        GROUP BY i.pid;
    </select>
    <!--查询动态-->
    <select id="getDynamics" parameterType="java.util.HashMap" resultMap="DynamicMap">
       SELECT
        i.userid id,
        i.concent content,
        FROM_UNIXTIME(i.time/1000,'%Y-%m-%d %H:%i:%s') releaseTime,
        j.nickname nickName,
        CONCAT(j.path,j.filename) headImgUrl
        FROM
        (
        SELECT * FROM users_dynamic m ORDER BY m.time DESC
        ) i
        LEFT JOIN users j
        ON i.userid = j.uid
        ORDER BY i.time DESC
        LIMIT #{page},#{offset};
    </select>

    <resultMap id="DynamicMap" type="com.nbcb.myron.bsen.module.Dynamic">
        <collection property="contentImgs" ofType="String" column="{bridgeId = id}" select="getContentImgs"/>
    </resultMap>

    <select id="getContentImgs" resultType="String">
        SELECT
        CONCAT(k.path,k.filename) contentImgs
        FROM
        products_files k
        WHERE k.classify ='3'
        AND k.uid = #{bridgeId};
    </select>

</mapper>