<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbcb.myron.bsen.mapper.BsenDaoMapper">
    <select id="getImageEntityList" resultType="com.nbcb.myron.bsen.module.ImageEntity">
      SELECT i.imgurl,i.urlparam FROM bsen_imglink i LIMIT 3;
    </select>
    <select id="getImageEntity" resultType="com.nbcb.myron.bsen.module.ImageEntity">
      SELECT i.imgurl,i.urlparam FROM bsen_imglink i where i.bid = #{id};
    </select>
    <select id="getHotProducts" resultType="com.nbcb.myron.bsen.module.Product">
      SELECT * FROM bsen_doorentity i where i.isheat = #{isheat};
    </select>

</mapper>